<!DOCTYPE html>
<html>
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>StyleShow | User Profile</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <link rel="shortcut icon" href="blue.ico">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 <header class="main-header">
     <!-- Logo -->

     <a href="/" class="logo" style="position:fixed;">
       <!-- mini logo for sidebar mini 50x50 pixels -->
       <span class="logo-mini"><b>S</b></span>
       <!-- logo for regular state and mobile devices -->
       <span class="logo-lg"><b>Style</b>SHOW</span>
     </a>
     <!-- Header Navbar: style can be found in header.less -->

     <nav class="navbar navbar-fixed-top">


 		 <div class="col-md-offset-3">
 		 		<div class="navbar-left bs-example bs-example-form" style="min-width: 200px;max-width: 500px; margin-top: 4px;padding: 0px; margin-left: 15px;">
 		 				<div class="input-group" style="padding-top: 3px;">
 		 					<div class="input-group-btn">
 		 						<button type="button" class="btn btn-default
 		 						dropdown-toggle" data-toggle="dropdown" style="width: 70px;font-size: 18px;padding: 3.5px;text-align: center;"><span id="type_drop">Tag </span><span class="caret"></span>
 		 						</button>
 		 						<ul class="dropdown-menu">
 		 								<li>
 		 										<a id="select_cid" >CID</a>
 		 								</li>
 		 								<li>
 		 										<a id="select_title" >Titile</a>
 		 								</li>
 		 								<li>
 		 										<a id="select_Tag" >Tag</a>
 		 								</li>
 		 						</ul>
 		 				</div>
 		 						<input id="search_input" type="text" class="form-control" placeholder="Search...">
 		 						<span class="input-group-btn">
 		 								<button  id="search_btn" class="btn btn-flat">
 		 										<i class="fa fa-search"></i>
 		 								</button>
 		 						</span>
 		 				</div>
 		 		</div>
 		 </div>


       <div class="navbar-custom-menu">
         <ul class="nav navbar-nav">

             <ul class="dropdown-menu">
               <li class="header">You have 4 messages</li>
               <li>
                 <!-- inner menu: contains the actual data -->
                 <ul class="menu">
                   <li><!-- start message -->
                     <a href="#">
                       <div class="pull-left">
                         <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                       </div>
                       <h4>
                         Support Team
                         <small><i class="fa fa-clock-o"></i> 5 mins</small>
                       </h4>
                       <p>Why not buy a new awesome theme?</p>
                     </a>
                   </li>
                   <!-- end message -->
                   <li>
                     <a href="#">
                       <div class="pull-left">
                         <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                       </div>
                       <h4v>
                         AdminLTE Design Team
                         <small><i class="fa fa-clock-o"></i> 2 hours</small>
                       </h4v>
                       <p>Why not buy a new awesome theme?</p>
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <div class="pull-left">
                         <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                       </div>
                       <h4>
                         Developers
                         <small><i class="fa fa-clock-o"></i> Today</small>
                       </h4>
                       <p>Why not buy a new awesome theme?</p>
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <div class="pull-left">
                         <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                       </div>
                       <h4>
                         Sales Department
                         <small><i class="fa fa-clock-o"></i> Yesterday</small>
                       </h4>
                       <p>Why not buy a new awesome theme?</p>
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <div class="pull-left">
                         <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                       </div>
                       <h4>
                         Reviewers
                         <small><i class="fa fa-clock-o"></i> 2 days</small>
                       </h4>
                       <p>Why not buy a new awesome theme?</p>
                     </a>
                   </li>
                 </ul>
               </li>
               <li class="footer"><a href="#">See All Messages</a></li>
             </ul>
           </li>
           <!-- Notifications: style can be found in dropdown.less -->


             <ul class="dropdown-menu">
               <li class="header">You have 10 notifications</li>
               <li>
                 <!-- inner menu: contains the actual data -->
                 <ul class="menu">
                   <li>
                     <a href="#">
                       <i class="fa fa-users text-aqua"></i> 5 new members joined today
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                       page and may cause design problems
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <i class="fa fa-users text-red"></i> 5 new members joined
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                     </a>
                   </li>
                   <li>
                     <a href="#">
                       <i class="fa fa-user text-red"></i> You changed your username
                     </a>
                   </li>
                 </ul>
               </li>
               <li class="footer"><a href="#">View all</a></li>
             </ul>
           </li>
           <!-- Tasks: style can be found in dropdown.less -->


 					<li class="dropdown user user-menu">
                            <a id="username" name="username" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        <span id="realusername"></span>
                                        <small id="smallusername"></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-sm-5 text-center"><a href="/upload">업로드</a></div>
                                        <div class="col-sm-2 text-center"></div>
                                        <div class="col-sm-5 text-center"><a href="/profilemodify">프로필 편집</a></div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a id="profile" href="/profile/<%= My_uid %>;" class="btn btn-default btn-flat">내 프로필</a>
                                    </div>
                                    <div class="pull-right">
                                        <a id="SignOut" class="btn btn-default btn-flat SignOut" type="button">로그아웃</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
           <!-- Control Sidebar Toggle Button -->


       </div>
     </nav>
   </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" style="position:fixed;">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->

        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul id="libr" class="sidebar-menu" data-widget="tree">
                    <li class="header">라이브러리</li>


                </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-4">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src=<%= User_img %> alt="User profile picture">

              <h3 class="profile-username text-center"><%= Nickname %></h3>

              <p class="text-muted text-center"><%= Email %></p>
              <p class="text-center">좋은 옷을 추천합니다.</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>구독자</b> <a class="pull-right"><%= Follow_num %></a>
                </li>
              </ul>

              <a class="btn btn-primary btn-block" id = "follow_btn"><b><%= Follow %></b></a>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">정보</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-asterisk margin-r-5"></i> 이름</strong>

              <p class="text-muted">
                <%= Name %>
              </p>

              <hr>

              <strong><i class="fa fa-address-card margin-r-5"></i> 주소</strong>

              <p class="text-muted"><%= Address %></p>

              <hr>

              <strong><i class="fa fa-birthday-cake margin-r-5"></i> 생년월일</strong>

              <p  class="text-muted"><%= Bdate %>

              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> 자기소개</strong>

              <p>구독 많이해주세요.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-8" style="float:right;">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">홈</a></li>
              <li><a href="#streaming" data-toggle="tab">스트리밍</a></li>
              <li><a href="#picture" data-toggle="tab">사진</a></li>
              <li><a href="#video" data-toggle="tab">동영상</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src=<%= User_img %> alt="User Image">
                        <span class="username">
                          <a href="#"><%= Nickname %></a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">Posted 5 photos - 5 days ago</span>
                  </div>
                  <!-- /.user-block -->
                  <div class="row margin-bottom">
                    <div class="col-sm-6" style="text-align: center; margin:0px;">
                      <a href="/content/<%=Con_best%>" style="text-decoration:none ; color:#000000">
                      <img  style="display: inline-block; height:250px; object-fit: fill;" class="img-responsive" src="<%=Img_best%>" alt="Photo">
                    </a>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                       <div>
                          <div class="box-header with-border">
                            <a href="/content/<%=Con_best%>" style="text-decoration:none ; color:#000000">
                            <h3 class="box-title"style="font-size:big"><strong><%= Title_best %></strong></h3>
                          </a>
                          </div>
                          <p style="font-size:80%; color:gray;">&nbsp; &nbsp;&nbsp;조회수 : <%= View_best %><br>&nbsp;&nbsp;&nbsp;<%= Date_best %></p>
                          <div class="box-footer" id="best_explain">
                            <br><%=Contextdata%><br>
                            <br><br>
	좋아요&구독 많이 눌러주세요.
                            <br>
                            
                           </div>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <hr class="one">
                  <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[0]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[0]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[0] %>]</strong>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[0] %><br><%= Date[0] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[1]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[1]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[1] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[1] %><br><%= Date[1] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[2]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[2]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[2] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[2] %><br><%= Date[2] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[3]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[3]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[3] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[3] %><br><%= Date[3] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
                  <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[4]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[4]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[4] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[4] %><br><%= Date[4] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[5]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[5]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[5] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[5] %><br><%= Date[5] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[6]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[6]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[6] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[6] %><br><%= Date[6] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con[7]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img[7]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title[7] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View[7] %><br><%= Date[7] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="picture">
                <!-- The timeline -->
                 <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[0]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[0]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[0] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[0] %><br><%= Date2[0] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[1]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[1]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[1] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[1] %><br><%= Date2[1] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[2]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[2]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[2] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[2] %><br><%= Date2[2] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[3]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[3]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[3] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[3] %><br><%= Date2[3] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
				  <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[4]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[4]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[4] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[4] %><br><%= Date2[4] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[5]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[5]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[5] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[5] %><br><%= Date2[5] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[6]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[6]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[6] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[6] %><br><%= Date2[6] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con2[7]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img2[7]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title2[7] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View2[7] %><br><%= Date2[7] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
				  
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="video">
                <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[0]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[0]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[0] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[0] %><br><%= Date3[0] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[1]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[1]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[1] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[1] %><br><%= Date3[1] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[2]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[2]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[2] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[2] %><br><%= Date3[2] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[3]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[3]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[3] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[3] %><br><%= Date3[3] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
				  <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[4]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[4]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[4] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[4] %><br><%= Date3[4] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[5]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[5]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[5] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[5] %><br><%= Date3[5] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[6]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[6]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[6] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[6] %><br><%= Date3[6] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con3[7]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img3[7]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title3[7] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View3[7] %><br><%= Date3[7] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
              </div>
			  <div class="tab-pane" id="streaming">
                <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[0]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[0]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[0] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[0] %><br><%= Date4[0] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[1]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[1]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[1] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[1] %><br><%= Date4[1] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[2]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[2]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[2] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[2] %><br><%= Date4[2] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[3]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[3]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[3] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[3] %><br><%= Date4[3] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
				  <div class="row margin-bottom">
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[4]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[4]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[4] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[4] %><br><%= Date4[4] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[5]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[5]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[5] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[5] %><br><%= Date4[5] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[6]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[6]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[6] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[6] %><br><%= Date4[6] %></p>
                    </a>
                    </div>
                    <div class="col-sm-3">
                      <a href="/content/<%=Con4[7]%>" style="text-decoration:none ; color:#000000">
                      <img class="img-responsive" src="<%=Img4[7]%>" alt="Photo" style="display: inline-block; margin-bottom:10px; height:130px; width: 300px; object-fit: fill;">
                      <strong style="font-size:95%;">[<%= Title4[7] %>]</strong><br>
                      <p style="font-size:80%; color:gray;">조회수 : <%= View4[7] %><br><%= Date4[7] %></p>
                    </a>
                    </div>
                    <!-- /.col -->
                  </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
 
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
<script type="text/javascript">
$(document).ready(function(){
var serch_type="tag"

     $("#select_title").click(function()
     {
     	$("#type_drop").text("Title ");
     	serch_type="title";
     });


     $("#select_cid").click(function()
     {
     	$("#type_drop").text("CID ");
     	serch_type="cid";
     });
      $("#select_Tag").click(function()
     {
     	$("#type_drop").text("Tag ");
     	serch_type="tag";

     });
		$("#search_btn").click(function()
     {
     	 var searchval=$("#search_input").val();
     	 var jumphtml="/search/"+serch_type+","+searchval;
     	 console.log(jumphtml);
     	window.location.replace(jumphtml);
     });

		$('#search_input').on('keypress',function(event)
    	{
    		if(event.keyCode==13){
    			$('#search_btn').trigger('click');
    		}
    	});

      $("#follow_btn").click(function()
       {
       	 console.log("follow_btn clicked");
         window.location.replace("/follow/<%= Uid %>;");
       });

});
</script>
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>var firebaseEmailAuth;

     var loginUserName;
     var loginUserKey;
     var userInfo;

   // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBU2Mghux1yATbyRAXbw8qVnSBkdEiyDqg",
    authDomain: "styleshow-login.firebaseapp.com",
    databaseURL: "https://styleshow-login.firebaseio.com",
    projectId: "styleshow-login",
    storageBucket: "styleshow-login.appspot.com",
    messagingSenderId: "332877089687"
  };

  firebase.initializeApp(config);
  firebaseEmailAuth = firebase.auth();
  userSessionCheck();

  function userSessionCheck() {
      firebaseEmailAuth.onAuthStateChanged(function (user) {
          if (user) {
              // var loginUserEmail = require("../sql/getUserInfo");
              //firebaseDatabase.ref("users/" + user.uid).once('value').then(function (snapshot) {
              //    loginUserName = snapshot.val().name;
              loginUserName = user.uid;

              $.ajax({
                  data: { data: loginUserName },
                  url: '/getLoginUser',
                  type: "post",
                  dataType: 'JSON',
                  success: function (data) {//get User table from sql and save it in data

                      user_info = data;
                      document.getElementById("username").innerHTML = user_info.Nickname;
                      document.getElementById("realusername").innerHTML = user_info.Nickname;
                      document.getElementById("smallusername").innerHTML = user_info.Mail;
                      document.getElementById("profile").href = "/profile/" + user_info.UID + ';';

                      for (var i = 0; i < user_info.Length; i++) {
                          var item = '<li><li><a href="/profile/' + user_info.Follower[i] + ';' + '"><i class="fa fa-circle-o text-blue"></i> <span>' + user_info.Fnick[i] + '</span></a></li></li>'
                          //alert(item);
                          $('#libr').append(item);

                      }

                  },
                  error: function (textStatus) {
                      console.log('error ' + textStatus);
                  }
              });

              
              return true

          }
          else {
              $("#follow").empty();
              document.getElementById("username").innerHTML = "Login";
              $("#username").removeAttr('data-toggle');
              $("#username").attr("href", "/login");
              $("#username").removeAttr('data-widget');

              //alert("pleaselogin");
              return false
          }
      });
  }
   $(document).ready(function () {
      $(document).on('click', '.SignOut', function () {
          firebaseEmailAuth.signOut().then(function () {
              alert("Log out! Good Bye!")
              window.location.href = "/"
         })
        .catch(function (error) {
            alert(error);
        });

      });
  });
    </script>
</body>
</html>
