<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>StyleShow | Content</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
	<link rel="shortcut icon" href="blue.ico">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	<link href="https://vjs.zencdn.net/5.19/video-js.css" rel="stylesheet">
	
	<script src="https://vjs.zencdn.net/5.19/video.js"></script>
	<script src="/socket.io/socket.io.js"></script> <!-- 1 -->
	<script src="//code.jquery.com/jquery-1.11.1.js"></script>
<style>
	body{    
    overflow-y: hidden;
    overflow-x: hidden;
}
#ImgView{
max-width:100%;
overflow:hidden;
}
</style>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="overflow-y: hidden">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->

            <a href="/" class="logo" style="position:fixed;">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Style</b>SHOW</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->

            <nav class="navbar navbar-fixed-top">
							
               <div class="col-md-offset-3">
               		<div class="navbar-left bs-example bs-example-form" style="min-width: 200px;max-width: 500px; margin-top: 4px;padding: 0px; margin-left: 15px;">
               				<div class="input-group" style="padding-top: 3px;">
               					<div class="input-group-btn">
               						<button type="button" class="btn btn-default
               						dropdown-toggle" data-toggle="dropdown" style="width: 70px;font-size: 18px;padding: 3.5px;text-align: center;"><span id="type_drop">Tag </span><span class="caret"></span>
               						</button>
               						<ul class="dropdown-menu">
               								<li>
               										<a id="select_cid" >CID</a>
               								</li>
               								<li>
               										<a id="select_title" >Titile</a>
               								</li>
               								<li>
               										<a id="select_Tag" >Tag</a>
               								</li>
               						</ul>
               				</div>
               						<input id="search_input" type="text" class="form-control" placeholder="Search...">
               						<span class="input-group-btn">
               								<button  id="search_btn" class="btn btn-flat">
               										<i class="fa fa-search"></i>
               								</button>
               						</span>
               				</div>
               		</div>
               </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4v>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4v>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->

                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                            page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->

                        <li class="dropdown user user-menu">
                            <a id="username" name="username" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        <span id="realusername"></span>
                                        <small id="smallusername"></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-sm-5 text-center"><a href="/upload">업로드</a></div>
                                        <div class="col-sm-2 text-center"></div>
                                        <div class="col-sm-5 text-center"><a href="/profilemodify">프로필 편집</a></div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a id="profile" href="#" class="btn btn-default btn-flat">내 프로필</a>
                                    </div>
                                    <div class="pull-right">
                                        <a id="SignOut" class="btn btn-default btn-flat SignOut" type="button">로그아웃</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar" style="position:fixed;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- search form -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul id="libr" class="sidebar-menu" data-widget="tree">
                    <li class="header">라이브러리</li>


                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    General Form Elements
                    <small>Preview</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Forms</a></li>
                    <li class="active">General Elements</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div id="AutoHeight" class="col-md-8 pre-scrollable" style="margin-bottom: 0px;padding-bottom: 0px;">
                        <!-- general form elements -->
                        <div class="box box-green">
                     
                            <!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-header with-border" style="text-align: center; margin:0px">
															
															
                                <%-TypeFollowHTML%>


                            </div>
							<div class="box-header" id="vhead">
							<h3 class="box-title" style="font-size:big">&nbsp;&nbsp;<strong><%-Titledata%></strong></h3>
                            </div>
							<div class = "box-body" style="fint-size:middle; color:gray;">&nbsp;&nbsp;조회수 <a id=see style="font-size:small; color:gray;">&nbsp;0</a>회 
							
							<form action="/like/<%= Cid %>" method="get" style="float:right;">
									<button id="likey" type="submit" href="#" class="btn btn-link dislike">
                                    <i id=dislike class="fa fa-thumbs-o-up" style="color:blue;" onclick="likey();"> <%-LLikevalue%> </i></button>
									</form>
									</div>
                            <div class="box-footer">
                                &nbsp; <a href="/profile/<%-UserId%>;" style="text-decoration:none ; color:#000000"><img src="<%-Profileimage%>" class="img-circle" alt="User Image" style="width:70px;height:70px; float:left;"></a>
                                <div style="float:left;">
                                    <br><a href="/profile/<%-UserId%>;" style="text-decoration:none ; color:#000000"><p style="font-size:small;"><strong>&nbsp;&nbsp;<%-Usernamedata%></strong></p></a>
									<p style="color:gray; font-size:small;">&nbsp;&nbsp;게시일: <%-ContentDate%> </p>
                                </div>
                            </div>
							<div class="box-footer"><p style="color=gray; font-size:small; margin-left:5px;"><%-ContentData%> </p></div>

                        </div>
                        <div style="min-height: 600px;">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Horizontal Form -->
                        <div class="box box-body " style="height:650px;">
                            <div class="container" style=" display: inline-block; width: 100%; word-break:break-all;">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#home">채팅</a></li>
                                    <li><a data-toggle="tab" href="#menu1">상품정보</a></li>
                                </ul>
                                <div class="tab-content ">
                                    <div id="home" class="tab-pane fade in active ">
                                        <div style="display: inline-block; width: 100%; height:465px; padding:10px; margin-top:10px;">



                                            <div style="height: 100%;width: 100%;background-color: #eeee; ">
                                                <!--<textarea id="chatLog" class="chat_log" readonly style="resize:none;height: 100%;width: 100%;background-color: #eeee; border: none;" >
                                                                                                    <div><p>name</p><P>asdasdsa</p></div>
                                                                                                </textarea>-->
                                                <div id="chatLog" class="chat_log" style="resize:none;height: 100%;width: 100%;background-color: #f2f3f5; border: none;overflow-y:scroll">

                                                </div>
                                            </div>
                                            <!--
                                            <form id="chat" >
                                                <input id="name" class="name" type="text" readonly ><br>
                                                <input id="message" class="message" type="text" style="width: 80%;min-height: 30px;">
                                                <input type="submit" class="chat" value="chat"/>
                                             </form>
                                              -->


                                            <div class="panel panel-primary" style="border: none; padding-top: 10px;">
                                                <div class="panel-heading">
                                                    <h3 id="name" class="panel-title">"name"</h3>
                                                </div>
                                                <div class="panel-body" style="padding: 0px; margin: 0px; box-shadow:none;outline: none;">
                                                    <form id="chat" class="bs-example bs-example-form" role="form">
                                                        <div>
                                                            <div class="input-group input-group-lg">

                                                                <input id="message" autocomplete="off" type="text" class="form-control" style="border-radius:0px 0px 0px 5px;" maxlength='35'>

                                                                <span class="input-group-btn" style="border-radius:0px 0px 0px 0px;">
                                                                    <button id="bt_send" class="btn btn-default " type="submit" style="border-radius:0px 0px 5px 0px;">
                                                                        Chat
                                                                    </button>
                                                                </span>
                                                            </div><!-- /input-group -->
                                                        </div><!-- /.col-lg-6 -->
                                                    </form>
                                                    <div><span id="chat_current_len">0</span><span>/</span><span id="chat_max_len">35</span></div>
                                                </div>
                                            </div>








                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
									
									
									
                                        <%-Productdata%>
										
										
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Custom Template Design
                                    <span class="label label-danger pull-right">70%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Update Resume
                                    <span class="label label-success pull-right">95%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Laravel Integration
                                    <span class="label label-warning pull-right">50%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                    Back End Framework
                                    <span class="label label-primary pull-right">68%</span>
                                </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
	
    <script type="text/javascript">
$(document).ready(function(){

	function AutoSize()
	{

		$("#message").bind("input propertychange",function()
		{
			$("#chat_current_len").text($(this).val().length);

		});

	var bodyheight=$(document.body).height();
		bodyheight=bodyheight-(51*2+20);
		 $("#AutoHeight").css("min-height",bodyheight);


	var vheadw=$('#vhead').width();

	//16:9
	$('#vplear').width(vheadw);
	$('#vplear').height(vheadw*9/16);

	}
	$(window).resize(function()
	{
	  var bodyheight=$(window).height();
	  	bodyheight=bodyheight-(51*2+20);
	  	$("#AutoHeight").css("min-height",bodyheight);

			$(document.body).css({
			   "overflow-x":"hidden",
			   "overflow-y":"hidden"
			 });

		//video AutoResize
		var vheadw=$('#vhead').width();
		$('#vplear').width(vheadw);
		$('#vplear').height(vheadw*9/16);
	});
AutoSize();




});

    </script>
	<!-- chat system-->
    <script src="/socket.io/socket.io.js"></script> <!-- 1 -->

    <script type="text/javascript">
	var socket = io(); //1
	//var roomid = 'asdf';
	var roomid='<%-roomID%>';
		$('#chat').on('submit', function(e)
		{ //2
			if($('#message').val()!="")
			{
				socket.emit('send message', $('#name').text(), $('#message').val(), roomid);
				$('#message').val('');
				$('#message').focus();
				$("#chat_current_len").text($(this).val().length);
			}
			e.preventDefault();
		});

		socket.on('receive message', function(msg, rid)
		{ //3
			if (rid == roomid)
			{
				var messageArr=msg.split(":");
				var logitem='<div style="padding:5px 0px 5px 10px;"><span style="font-size: large;color: #23ade5;">'+messageArr[0]+'&emsp;</span><span style="font-size: large;">'+messageArr[1]+'</span></div>';
				$('#chatLog').append(logitem);
				$('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
				//var div = document.getElementById('chatLog');
				//div.scrollTop = div.scrollHeight;
			}
		});

		<%-Chatscript%>
		
    </script>
	<script type="text/javascript">
	$(document).ready(function(){
	var serch_type="tag"
	
	     $("#select_title").click(function()
	     {
	     	$("#type_drop").text("Title ");
	     	serch_type="title";
	     });
	
	
	     $("#select_cid").click(function()
	     {
	     	$("#type_drop").text("CID ");
	     	serch_type="cid";
	     });
	      $("#select_Tag").click(function()
	     {
	     	$("#type_drop").text("Tag ");
	     	serch_type="tag";
	
	     });
			$("#search_btn").click(function()
	     {
	     	 var searchval=$("#search_input").val();
	     	 var jumphtml="/search/"+serch_type+","+searchval;
	     	 console.log(jumphtml);
	     	window.location.replace(jumphtml);
	     });
	
			$('#search_input').on('keypress',function(event)
	    	{
	    		if(event.keyCode==13){
	    			$('#search_btn').trigger('click');
	    		}
	    	});
	});
	</script>
    <!-- FireBase -->

    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script>var firebaseEmailAuth;

     var loginUserName;
     var loginUserKey;
     var userInfo;

   // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBU2Mghux1yATbyRAXbw8qVnSBkdEiyDqg",
    authDomain: "styleshow-login.firebaseapp.com",
    databaseURL: "https://styleshow-login.firebaseio.com",
    projectId: "styleshow-login",
    storageBucket: "styleshow-login.appspot.com",
    messagingSenderId: "332877089687"
  };

  firebase.initializeApp(config);
  firebaseEmailAuth = firebase.auth();

  userSessionCheck();

  function userSessionCheck() {
      firebaseEmailAuth.onAuthStateChanged(function (user) {
          if (user) {
             // var loginUserEmail = require("../sql/getUserInfo");
              //firebaseDatabase.ref("users/" + user.uid).once('value').then(function (snapshot) {
              //    loginUserName = snapshot.val().name;
              loginUserName = user.uid;

              $.ajax({
                  data: { data: loginUserName },
                  url: '/getLoginUser',
                  type: "post",
                  dataType: 'JSON',
                  success: function (data) {//get User table from sql and save it in data

                      user_info = data;
                      document.getElementById("username").innerHTML = user_info.Nickname;
                      document.getElementById("realusername").innerHTML = user_info.Email;
					  document.getElementById("smallusername").innerHTML = user_info.Nickname;
					  document.getElementById("profile").href = "/profile/"+ user_info.UID+';';

					    for (var i=0;i<user_info.Length;i++)
						{
					        var item = '<li><li><a href="/profile/' + user_info.Follower[i] + ';'+'"><i class="fa fa-circle-o text-blue"></i> <span>' + user_info.Fnick[i] + '</span></a></li></li>'
					        //alert(item);
					        $('#libr').append(item);

						}

                  },
                  error: function (textStatus) {
                      console.log('error ' + textStatus);
                  }
              });

                  return true

            }
          else {
		  $("#follow").empty();
              document.getElementById("username").innerHTML = "Login";
              $("#username").removeAttr('data-toggle');
              $("#username").attr("href", "/login");
			  $("#username").removeAttr('data-widget');

              //alert("pleaselogin");
              return false
          }
      });
  }
  $(document).ready(function () {
      $(document).on('click', '.SignOut', function () {
          firebaseEmailAuth.signOut().then(function () {
              alert("Log out! Good Bye!")
              window.location.href = "/"
         })
        .catch(function (error) {
            alert(error);
        });

      });
  });
	
	document.getElementById("see").innerHTML="<%-Viewcount%>";
	//document.getElementById("like").innerHTML="100";
	//document.getElementById("dislike").innerHTML="100";

    </script>
	<script>
	$(document).ready(function(){
    $("#likey").click(function(){
        $.ajax({
		  type: 'GET',
		  url: '/like',
		  data: '<%= Cid %>',
		  success: success,
		  dataType: 'JSON'
		});
	});
	</script>
	 
</body>
</html>
